.home-container {
  background-color: #2d3a3f;

  .card-container {
    background-color: #2d3a3f;
    color: #fff;

    .title {
      color: #d4bd13;
    }

    .btn-custom {
      background-color: #d4bd13;
      color: #fff;
      font-size: 1.25rem;
      border: none;
    }

    .btn-custom:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(212, 189, 19, 0.5);
    }

    .btn-outline-custom {
      background-color: transparent;
      color: #fff;
      border-color: #d4bd13;
    }

    .btn-outline-custom:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(212, 189, 19, 0.5);
    }
  }
}
